<%= form_with model: @place do |form| %>
  <p>
    <%= form.label "title", "Place" %>
    <%= form.text_field "title" %>
  </p>
  <p>
    <%= form.label "description" %>
    <%= form.text_field "description" %>
  </p>
  <p>
    <%= form.label "description" %>
    <%= form.text_field "description" %>
  </p>

  <%= form.submit %>
<% end %>